
</div>
<footer>
  <div class="footer">
    <p>Made with ♡ in Canada </p>
    <a href="https://github.com/Sohaib-GO/Daily-Journal"> <i class="fa-brands fa-github contact-item"></i></a>
  </div>

</footer>


 
</body>
</html>
