
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Source+Sans+Pro:wght@200&display=swap');
/* fixes issue with overlapping posts and footer */


html, body{
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  height: 100% !important;
  position: relative;


}

.container-fluid {
  position: relative;

    padding-top: 70px;
    padding-bottom: 70px;
    
}
.navbar {
    padding-top: 44px !important;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    letter-spacing: 5px;

}
.navbar-header a{
    text-decoration: none !important;
}
.loginbutton{
    padding: 0 10px;
    border-width: 2px;
    border-style: solid;
    text-transform: uppercase;
    border-radius: 7px;
    background-color: #6c6868;
    cursor: pointer;
    text-decoration: none;
    color: #fff;
    border-color: #000000;
    margin-left: 60rem;
    
}
.loginbutton:hover{
    background-color: rgb(160, 12, 12);
}
.navbar-nav  li a{
    padding: 1rem 1rem !important;
    font-size: 15px !important;
    text-decoration: none !important;
    font-weight: 600 !important;
    color: black !important;
}


.navbar-nav  li:hover {
    background-color: #e5e5e5 !important;
    border-radius: 19px;
}
.navbar-nav  li a:hover {
    color: rgba(135, 127, 127, 0.933) !important;

}
.myButtons{
    padding: 2rem 0 2rem 59rem !important;

  }
.submitButton{
    margin-top: 1rem  !important;
    margin-bottom: 9rem  !important;

}
h1{
  font-family: 'Lobster', cursive;
  margin-top: 9%;
}

p{
        line-height: 1.4;
        font-family: 'Source Sans Pro', sans-serif;
        font-size:18px;
        white-space: pre-wrap;
      
      }
      

.time-stamp {
        padding-top: 15px;
        color: #7a7a7a;
      }
  /* footer */
footer {
  width: 100%;
  height: 110px;
  display: block;
  background-color: rgba(204, 192, 192, 0.933);
  text-align: center;
  position: fixed;
bottom: 0;
}

.footer p {
	margin-top: 25px;

	font-size: 19px;
  color: #fff;
}

/* Socials in Footer  */
.footer a {
    padding: 0 0.8rem;
   color: #115487;
    font-size: 1.5rem;


  }
 .footer i:hover {
    font-size: 1.9rem;
color: #000000;
/* Tada effect  */
animation-name: tada;
animation-duration: 1s;
animation-iteration-count: infinite;


}
  /* Tada effect for GitHub logo */
@keyframes tada {
    0% {
      transform: scale3d(1, 1, 1);
    }
  
    10%, 20% {
      transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
    }
  
    30%, 50%, 70%, 90% {
      transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    }
  
    40%, 60%, 80% {
      transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    }
  
    100% {
      transform: scale3d(1, 1, 1);
    }
  }
  
  
  