
/* fixes issue with overlapping posts and footer */
html{
    position: relative;
    min-height: 100%;
}
.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
    
}
.navbar {
    padding-top: 44px !important;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    letter-spacing: 5px;

}

.loginbutton{
    padding: 0 10px;
    border-width: 2px;
    border-style: solid;
    text-transform: uppercase;
    border-radius: 7px;
    background-color: #1abc9c;
    cursor: pointer;
    text-decoration: none;
    color: #fff;
    border-color: #91c60f;
    margin-left: 60rem;
    
}
.navbar-nav  li a{
    padding: 1rem 1rem !important;
    font-size: 15px !important;
    text-decoration: none !important;
    font-weight: 600 !important;
    color: rgba(113, 163, 3, 0.877) !important;
}


.navbar-nav  li:hover {
    background-color: #e5e5e5 !important;
    border-radius: 19px;
}
.navbar-nav  li a:hover {
    color: #1abc9c !important;

}
.myButtons{
    padding: 2rem 0 2rem 59rem !important;

  }


  /* footer */
.footer-padding {
	padding-bottom: 60px;
}

.footer {
	position: absolute;
	text-align: center;
	bottom: 0;
	width: 100%;
	height: 60px;
	background-color: #1abc9c;
}

.footer p {
	margin-top: 25px;

	font-size: 12px;
  color: #fff;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  -webkit-box-shadow: -1px 69px 300px 25px rgba(0,0,0,0.75);

}

